.bg-elements {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.square {
    position: fixed;
    width: 100px;
    height: 100px;
    border: 2px solid var(--item-quartiary) !important;
    opacity: 0.2;
    z-index: -1;
    animation: float 12s infinite linear;
}

/* Position them randomly */
.s1 { top: 20%; left: 10%; }
.s2 { top: 70%; left: 80%; animation-duration: 15s; animation-direction: reverse;}

@keyframes float {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-20px) rotate(90deg); }
    100% { transform: translateY(0) rotate(360deg); }
}

.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Behind icons */
    opacity: 0.4; /* Adjust for subtleness */
    pointer-events: none;
}