.backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.backToTop:hover {
    transform: scale(1.1);
}

.backToTop--icon {
    font-size: 3.5rem;
}

@media screen and (max-width: 600px) {
    .backToTop--icon {
        font-size: 2.8rem;
    }
}